:root {
    --main-bg-color: #EAE8FE;
    --point-color: #6327FE;
    --border-color: #BDBDBD;
}

.txt-hide {
    position: absolute;
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.font-smaller {
    font-size: xx-small;
    font-weight: 700;
    position: absolute;
    margin-left: 3.5px;
    margin-top: 2.5px;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

body, h1, ul, li, p, h2, ol, input, button {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    border: none;
    font-family: inherit;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    background-color: transparent;
}

.container {
    width: 748px;
    margin: 0 auto;
}

.container header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    /* width: 386px;
    height: 180px; */
}

.container h1 {
    width: 386px;
    height: 180px;
}

.container .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container main {
    width: 100%;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 247px 0 171px;
}

.container .left, .container .right {
    box-sizing: border-box;
    width: 360px;
}

.container .left {
    background-color: white;
}

.container .left {
    padding: 31px 27px 28px;
}

.left .drink-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.left .drink-item {
    position: relative;
    box-sizing: border-box;
    flex-basis: 94px;
    height: 130px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 0;
}

.left .sold-out::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    border-radius: 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(./images/Sold-out.png);
    background-size: 57.51px 44.85px;
    background-repeat: no-repeat;
    /* background-position: 17px 45px; */
    background-position: center 45px;
}

.drink-item:nth-child(1) {
    outline: 3px solid var(--point-color);
}

.drink-item:nth-child(5) {
    outline: 3px solid var(--point-color);
}

.drink-item button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:focus, input:focus {
    outline: 3px solid var(--point-color);
}

.drink-item img {
    width: 36px;
    height: 65px;
    margin: 11px auto 0;
    display: block;
}

.drink-item .item-name {
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    margin: 6px 0 7px;
    display: block;
}

.drink-item .item-price {
    text-align: center;
    background-color: var(--point-color);
    color: white;
    font-size: 12px;
    line-height: 1;
    padding: 5px 16px 5px 15px;
    border-radius: 50px;
    width: 39px;
    margin: 0;
    display: block;
}

.left .order-form {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.order-form * {
    box-sizing: border-box;
}

.form-item:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 3;

}

.order-form .left-over {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    border-radius: 5px;
    background: var(--main-bg-color);
    position: relative;
}

.order-form .left-over::after {
    content: '';
    display: block;
    clear: both;
}

.order-form .btn-left-over {
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    padding-top: 6px;
    padding-bottom: 7px;
}

.text-right {
    float: right;
}

.order-form .input-deposit {
    font-size: 13px;
    line-height: 19px;
    font-weight: inherit;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 5px 6px 5px;
    width: 100%;
}

.order-form .input-deposit::placeholder {
    color: var(--border-color);
    font-size: 13px;
    line-height: 19px;
    font-weight: inherit;
}

.order-form .btn-deposit {
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    padding-top: 6px;
    padding-bottom: 7px;
}

.order-form .order-check {
    background-color: var(--main-bg-color);
    height: 106px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 11px 17px 11px 11px;
    /* padding: 11px 17px 11px 11px; */
    overflow-x: hidden;
    overflow-y: auto;
}

.order-check::-webkit-scrollbar, .order-list::-webkit-scrollbar {
    position: absolute;
    width: 10px;
}

.order-check::-webkit-scrollbar-thumb, .order-list::-webkit-scrollbar-thumb {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

.order-check .order-check-wrapper {
    /* width: calc(100% + 10px); */
    /* 아래 코드 주석을 풀면 160이 돼버림 */
    /* 근데 개발자 도구에서 order-check의 content area 너비가 170인데? */
    /* 알고보니까 스크롤바 때문에 그런듯.. */
    width: 170px;
    height: 46px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 8px;
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
}

.order-check-wrapper .small-cola-img {
    width: 18px;
    height: 33px;
    position: relative;
    top: -1px;
}

.order-check-wrapper .small-cola-name {
    display: inline;
    font-size: 9px;
    line-height: 1;
    padding-left: 10px;
}

.receipt .num-select {
    box-sizing: border-box;
    padding: 3px 10px 5px 10px;
}

.small-cola-num, .receipt .num-select {
    margin-left: auto;
}

.order-check-wrapper .num-select {
    /* display: inline; */
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.order-check-wrapper:last-child {
    margin-bottom: 0;
}

.order-form .btn-get {
    background-color: var(--point-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 43px;
    padding-bottom: 44px;
    font-weight: 700;
}

.right .money, .right .receipt {
    background-color: #FFFFFF;
}

.right .money {
    padding: 9px 27px;
}

.money .money-now {
    background-color: var(--main-bg-color);
    padding: 6px 10px;
    line-height: 
    20px;
    font-size: 14px;
    border-radius: 5px;
}

.money-now .text-right {
    font-weight: 700;
}

.right .receipt {
    margin-top: 20px;
    padding: 25px 27px 26px;
}
.receipt::after{
    content:'';
    display:block;
    clear:both;
}

.receipt h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.receipt .order-list {
    margin: 13px 0 6px;
    box-sizing: border-box;
    width: 100%;
    height: 364px;
    background-color: 
    #EAE8FE;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 11px 17px 11px 11px;
    overflow-x: hidden;overflow-y: auto;
}

.order-list .order-check-wrapper {
    box-sizing: border-box;
    width: 276px;
}

.receipt .total-amount {
    /* display: inline; */
    /* 적용이 안됨 */
    font-size: 12px;
    line-height: 17px;
    height: 20px;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.total-amount .font-smaller {
    position: relative;
    margin-left: 3px;
    margin-right: -1px;
}

@media screen and (max-width: 747px) {
    .container {
        width: 100%;
    }

    .container main {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .right .receipt {
        margin-top: 0;
    }

    .container h1 {
        width: 166px;
        height: 78px;
    }

    .container main {
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
    }

    .container .left {
        padding: 96px 27px 0;
    }

    .right .money {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .right .receipt {
        padding-top: 41px;
        padding-bottom: 43px;
    }
}

@media screen and (max-width: 359px) {
    .container .left, .container .right {
        width: 100%;
    }

    .left .drink-item {
        padding: 0;
    }
    
    .drink-item .item-price {
        padding-left: 0;
        padding-right: 0;
        width: calc(70 / 94 * 100%);
        margin: 0 auto;
    }

    .order-check .order-check-wrapper, .receipt .order-check-wrapper {
        /* width: calc(100% + 10px); */
        /* 아래 코드 주석을 풀면 160이 돼버림 */
        /* 근데 개발자 도구에서 order-check의 content area 너비가 170인데? */
        /* 알고보니까 스크롤바 때문에 그런듯.. */
        width: 100%;
    }
}