body {
    background-color: #EAE8FE;
}

body, h1 {
    margin: 0;
}

.container {
    width: 748px;
    margin: 0 auto;
}

.container header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container h1 {
    width: 386px;
    height: 180px;
    background-image: url(../images/Logo_img.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.txt-hide {
    position: absolute;
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.container main {
    width: 100%;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 247px 0 171px;
}

.container .left, .container .right {
    width: 360px;
    background-color: white;
}

@media screen and (max-width: 747px) {
    .container {
        width: 100%;
    }

    .container main {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

@media screen and (max-width: 359px) {
    .container .left, .container .right {
        width: 100%;
    }
}