.txt-hide {
    position: absolute;
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.font-smaller {
    font-size: xx-small;
    font-weight: 700;
    position: absolute;
    margin-left: 3.5px;
    margin-top: 2.5px;
}

body {
    background-color: #EAE8FE;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

body, h1, ul, li, p, h2, ol, input, button {
    margin: 0;
    padding: 0;
}

input {
    display: block;
    border: none;
    font-family: inherit;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    background-color: transparent;
}

.container {
    width: 748px;
    margin: 0 auto;
}

.container header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    /* width: 386px;
    height: 180px; */
}

.container h1 {
    width: 386px;
    height: 180px;
    background-image: url(../images/Logo_img.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container main {
    width: 100%;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 247px 0 171px;
}

.container .left, .container .right {
    box-sizing: border-box;
    width: 360px;
}

.container .left {
    background-color: white;
}

.container .left {
    padding: 31px 27px 28px;
}

.left .drink-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.left .drink-item {
    /* position: relative; */
    box-sizing: border-box;
    flex-basis: 94px;
    /* height: 130px; */
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-top: 11px;
    padding-bottom: 9px;
    cursor: pointer;
}

.drink-item img {
    display: block;
    width: 36px;
    height: 65px;
    margin: 0 auto;
}

.drink-item .item-name {
    font-size: 9px;
    margin-bottom: 7px;
    line-height: 10px;
    text-align: center;
    margin-top: 6px;
}

.drink-item .item-price {
    text-align: center;
    background-color: #6327FE;
    color: white;
    font-size: 12px;
    line-height: 1;
    padding: 5px 16px 5px 15px;
    border-radius: 50px;
    width: 39px;
    margin: 0 auto;
}

.left .order-form {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.order-form * {
    box-sizing: border-box;
}

.form-item:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.order-form .left-over {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    border-radius: 5px;
    background: #EAE8FE;
    position: relative;
}

.order-form .left-over::after {
    content: '';
    display: block;
    clear: both;
}

.order-form .btn-left-over {
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    padding-top: 6px;
    padding-bottom: 7px;
}

.text-right {
    float: right;
}

.order-form .input-deposit {
    font-size: 13px;
    line-height: 19px;
    font-weight: inherit;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 5px 5px 6px 5px;
    width: 100%;
}

.order-form .input-deposit::placeholder {
    color: #BDBDBD;
    font-size: 13px;
    line-height: 19px;
    font-weight: inherit;
}

.order-form .btn-deposit {
    background-color: white;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    padding-top: 6px;
    padding-bottom: 7px;
}

.order-form .order-check {
    background-color: #EAE8FE;
    height: 106px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 12px 18px 12px 12px;
    overflow-x: hidden;overflow-y: auto;
}

.order-check .order-check-wrapper {
    position: relative;
    width: calc(170 / 168 * 100%);
    height: 46px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 8px;
}

.order-check-wrapper .small-cola-img {
    width: 18px;
    height: 33px;
}

.order-check-wrapper .small-cola-name {
    display: inline;
    font-size: 9px;
    line-height: 1;
}

.order-check-wrapper input {
    display: inline;
    width: 30px;
    height: 30px;
}

.order-check-wrapper:last-child {
    margin-bottom: 0;
}

.order-form .btn-get {
    background-color: #6327FE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 43px;
    padding-bottom: 44px;
    font-weight: 700;
}

.right .money, .right .receipt {
    background-color: #FFFFFF;
}

.right .money {
    padding: 9px 27px;
}

.money .money-now {
    background-color: #EAE8FE;
    padding: 6px 10px;
    line-height: 
    20px;
    font-size: 14px;
    border-radius: 5px;
}

.money-now .text-right {
    font-weight: 700;
}

.right .receipt {
    margin-top: 20px;
    padding: 25px 27px 26px;
}
.receipt::after{
    content:'';
    display:block;
    clear:both;
}

.receipt h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.receipt .order-list {
    margin: 13px 0 6px;
    box-sizing: border-box;
    width: 100%;
    height: 364px;
    background-color: 
    #EAE8FE;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.receipt .total-amount {
    /* display: inline; */
    /* 적용이 안됨 */
    font-size: 12px;
    line-height: 17px;
    height: 20px;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.total-amount .font-smaller {
    position: relative;
    margin-left: 3px;
    margin-right: -1px;
}

@media screen and (max-width: 747px) {
    .container {
        width: 100%;
    }

    .container main {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .right .receipt {
        margin-top: 0;
    }

    .container h1 {
        width: 166px;
        height: 78px;
    }

    .container main {
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
    }

    .container .left {
        padding: 96px 27px 0;
    }

    .right .money {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .right .receipt {
        padding-top: 41px;
        padding-bottom: 43px;
    }
}

@media screen and (max-width: 359px) {
    .container .left, .container .right {
        width: 100%;
    }

    .left .drink-item {
        padding: 0;
        padding-bottom: 9px;
        padding-top: 9px;
    }
    

    .drink-item .item-price {
        padding-left: 0;
        padding-right: 0;
        width: calc(70 / 94 * 100%);
        margin: 0 auto;
    }
}